body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 150%;
    background-image: 
    url(Images/pexels-eberhard-grossgasteiger-1366921-modified.png),
    url(Images/pexels-eberhard-grossgasteiger-2088146-modified.png),
    url(Images/pexels-felix-mittermeier-1459495-modified.png);
    background-repeat: no-repeat;
    background-position: 5%,50%,95%;
    background-size: 28% 90%,28% 90%,28% 90%;
    background-color: rgb(44, 43, 43);

    
}


   

.blurred{

    position: relative;
    
    top: 10%;
    left: 45%;
    height: 500px;
    width: 240px;
    backdrop-filter:blur(30px);
    border-radius: 5%;
    margin:0% 0%;
    

}
img{
    position: relative;
    display: flex;
    height: 210px;
    width: 200px;
    top: 8%;
    left: 8%;
    border-radius: 50%;

}



.Center{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    
}

.enter{
    padding: 16px 48px;
    background: none;
    border:2px solid #131313;
    color:#131313;
    font-size:20px;
    cursor: pointer;
    position:relative;
    transition: all 0.3s;
    top: 40%;
    }
    
    .enter::before,.enter::after{
    --offset:2px;
    content:"";
    position:absolute;
    width: 0; height:0;
    transition: all 0.3s;
    opacity:0;
    }
    .enter::before{
    border-top:2px solid #FFCB9A;
    border-left:2px solid #FFCB9A;
    top:var(--offset); left:var(--offset);
    }
    .enter::after{
    border-bottom: 2px solid #FFCB9A;
    border-right:2px solid #FFCB9A;
    bottom:var(--offset); right:var(--offset);
    }
    .enter:hover{
    background-color:#FFCB9A; color:#fff;
    transition-delay: 0.3s;
    }
    .enter:hover::before,.enter:hover::after{
    width:calc(100% - 6px); height: calc(100% - 6px);
    opacity:1;
    }
    

@media screen and (max-width:1024px) {
    body{
        font-size: 50%;
        background-size: 275px 425px,275px 425px,275px 425px;
    }

    /*rectangle flouté */
    .blurred{
        height: 250px;
        width: 120px;
        top: 37%;
        left: 51.5%; 

    }

    img{
        height: 110px;
        width: 100px;
        top: 2%;

    }

    .Center{
        top: 50%;
    }


    .enter{
        padding: 8px 24px;
        font-size:10px;
        cursor: pointer;
        position:relative;
        transition: all 0.3s;
        top: 45%;
        left: 15%;
    }

    
}